{% if craft.request.isAjax() %}
  <div article-list>
    {{ _self.media_list(entries) }}
  </div>
{% else %}
  {% set child = child ?? null %}
  <div class="relative border border-blue-1 bg-border-transparent bg-white flex flex-col h-full min-h-[500px]">

    {% if child.plainText %}
      <div class="relative bg-blue-bright">
        <h2 class="relative z-5 text-style-d5 py-20 text-white px-27">{{ child.plainText }}</h2>
        <div class="z-1 u-fill-space bg-gradient-to-l bg-dark-1 from-blue-5 via-blue-5 to-[transparent]"></div>
        <div class="z-3 u-fill-space bg-gradient-to-r from-blue-5 via-blue-5 to-[transparent]"></div>
        <div class="pokadots pokadots-white pokadots-light u-fill-space z-2"></div>
      </div>
    {% endif %}

    {% set tabs = [
      {
        title: 'Type',
        class: 'lg:w-[120px] flex-shrink-0',
        orderBy: 'mediaType'
      },
      {
        title: 'Title',
        class: 'lg:w-full',
        orderBy: 'title'
      },
      {
        title: 'Date',
        class: 'lg:w-100 flex-shrink-0',
        active: 'down',
        orderBy: 'postDate'
      }
    ] %}

    <div
      {% if child ?? null %}
        data-js-module="CompactMediaList"
        data-url="/ajax/media-list-compact?block-id={{block.id}}&entry-id={{entry.id}}&field-handle={{fieldHandle}}&child-id={{child.id}}"
      {% endif %}
      class="h-full px-27 py-14{{ child ? ' js-module'}}">
      <div class="h-full flex flex-col overflow-y-scroll scrollbar-visible">
        <div class="sticky top-0 pr-20 bg-white z-2">
          <div class="w-full flex lg:gap-0 gap-12 border-b border-blue-1 pb-14">
            {% for tab in tabs %}
              <div class="{{ tab['class'] ?? ''}}">
                {% include "_includes/components/bits/sort-tab" with {
                  label: tab.title,
                  active: tab.active ?? false,
                  orderBy: tab.orderBy ?? null
                } %}
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="h-full pr-20">
          <div class="h-full relative">
            <div article-list class="absolute top-0 left-0 w-full pb-40">
              {{ _self.media_list(entries) }}
            </div>

            <div loader aria-hidden="true" class="opacity-0 pointer-events-none transition-opacity duration-200 u-fill-space bg-opacity-80 bg-white flex items-center justify-center">{% include "_partials/icons" with {icon: 'circle-loader', class: 'u-anim-rotate w-30 h-30 inline-block'} %}</div>
          </div>
        </div>

        <div class="absolute bottom-10 left-0 bg-gradient-to-t from-white to-[transparent] w-[calc(100%-50px)] h-40"></div>
      </div>
    </div>
  </div>
{% endif %}

{% macro media_list(entries) %}
  {% for media in entries %}
    {% include "_includes/components/bits/media-list-item" with {
      include_date: true
    } %}
  {% endfor %}
{% endmacro %}
